@media (max-width: 1555px){
	.main2{
	  position: fixed; 
	  top: 58px; 
	  bottom: 35px; 
	  left: 0; 
	  right: 0;
	  padding: 0 !important;
	  max-width: 960px; 
	  margin: 0 auto;
	}

	.menu{
	  background-color: #FFE448; 
	  position: fixed; 
	  left: 0; 
	  right: 0; 
	  height: 58px;
	}

	.menucontainer{
	  padding-left: 0 !important;  
	  padding-right: 0 !important;
	  max-width: 960px; 
	  height: 58px;
	  font-size: 14px;
	  /*border: 1px solid black;*/
	}

	.contenedorMain{
		max-width: 960px;
		margin: 0 auto;
	}

	.divIcono{
	  display: inline-block;
	  margin-left: 17px;
	}

	.divIcono i{

	  font-size: 24px;
	  color: transparent;
	  -webkit-text-stroke: 2px black;
	  margin-top: 12.5px;
	}

	.divIcono span{
	  position: relative;
	  bottom: 5px;
	  font-weight: bold;
	  left: 5px;
	}

	.opcionesMenu{
	  /*border: 1px solid black;*/
	  display: inline-block;
	  float: right;
	  width: 80.5%;
	  margin-top:4px;
	}


	.footer{
	  background: #FFE448;
	  position: fixed;
	  height: 32px;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  font-size: 12px;
	  font-weight: bold;
	  padding-top: 8px;
	  box-sizing: border-box;
	}

	.main{
	  position: fixed; 
	  top: 58px; 
	  bottom: 32px; 
	  left: 0; 
	  right: 0;
	  padding: 0 !important;
	  overflow-y: auto;
	}

	.imgVET{
		height: 45px;
	}

	#DataTables_Table_0_wrapper{
	  margin-top: 15px;
	}

	.dataTables_filter{
	  margin-bottom: 15px;
	}

	#DataTables_Table_0{
	  margin-top: 0px;
	}

	#DataTables_Table_0_wrapper{
	  margin-bottom: 7px !important;
	}

	#modalVerLlamadaFinalizada > .modal-dialog{
	  width: 960px !important;
	  /*height: 400px !important;*/
	}

	#tablaDatosTaxista{
	  display: none;
	}

	#tablaDatosTaxista1024{
	  display: block;
	}

	#tablaDatosLlamada{
	  display: none;
	}

	#tablaDatosLlamada1024{
	  display: block;
	}

	.modal-title{
	  margin-top: 2.5px !important;
	  font-weight: bold;
	  font-size: 16px;
	}

	.modal-header{
	  background: #FFE448;
	  color: black;
	  border-radius: 5px 5px 0 0;
	  height: 55px;
	}

	.tituloSeccion{
	  font-size: 16px;
	}

	.modal-header .close{
	  font-size: 30px;
	  outline: 0;
	}

	#mapDatos{
		width: 67%;
	    height: 305px;
	    display: inline-block;
	    float: right;
	    margin-top: 0;
	}

	.content-finalizar-llamada{
		height: 615px;
	}

	.dialog-finalizar-llamada{
		margin-top: 15px !important;
		margin-bottom: 0 !important;
	}

	.tituloEvidencias{
		display: inline-block;
    	margin-top: 25px;
	}

	#btnDescargar{
	   	width: 70%;
	    position: relative;
	    background: #FFE448;
	    border: 1px solid #e2cb3f;
	    bottom: 0;
	    margin-top: 9px;
	    float: left;
	    margin-left: 15%;
	}

	#divEvidencias{
		width: 31%;
	}

	.imgServidores{
		margin-top: -2px;
	}

	.contenedorCoordenadas{
	    z-index: 100;
	    border: 3px solid #FFE448;
	    border-radius: 3px;
	    width: 960px; 
	    margin: 0 auto; 
	    margin-top: 15px;
	}

	.contenedorUbicacionMapa{
	    z-index: 100;
	    border: 3px solid #FFE448;
	    border-radius: 3px;
	    width: 960px; 
	    position: relative; 
	    margin: 0 auto; 
	    top: 15px; 
	    height: 75%;
	}

	#lat{
	  width: 95px; 
	  display: inline; 
	  text-align: center;
	}

	#lng{
	  width: 95px; 
	  display: inline; 
	  text-align: center;
	}

	#btnBuscarUbicacion{
	  float: right; 
	  width: 75px; 
	  text-align: center;
	  position: relative; 
	  right: 0;
	}

	.tdEstadistica{
	  text-align: center;
	  width: 320px;
	}

	.contenedorSubscriber{
	  position: absolute;
	  left: 0;
	  top: -10px;
	  width: 59% !important;
	  height:  59% !important;
	  z-index: 10;
	  border: 3px solid #FFE448;
	  border-radius: 5px;
	}

	.OT_subscriber{
	  width: 100% !important;  
	  border-radius: 0 0 3px 3px ;
	  position: absolute !important;
	  top: 30px !important;
	  height: calc(100% - 30px) !important;
	}

	.contenedorPublisher{
	    position: absolute;
	    width: 245px;
	    height: 175px;
	    bottom: 55px;
	    z-index: 100;
	    border: 3px solid #FFE448;
	    border-radius: 3px;
	}

	.contenedorBotones{
	  position: absolute;
	  height: 200px;
	  width: 277px;
	  bottom: 45px;
	  left: 240px;
	}

	.contenedorDatos{
	    position: absolute;
	    width: calc(100% - 530px);
	    height: 175px;
	    bottom: 55px;
	    z-index: 100;
	    border: 3px solid #FFE448;
	    border-radius: 3px;
	    right: 0;
	}

	.contenedorMapa{
	    width: 39%;
	    height: 59%;
	    position: absolute;
	    right: 0;
	    top: -10px;
	    border: 3px solid #FFE448;
	    border-radius: 5px;
	}


	#imgCargando{
	  width: 20%; 
	  margin-left: 41%; 
	  margin-top: 22%;
	}

	#imgReconnecting{
	   position: relative; 
	   left: 40%; 
	   margin-top: 3%; 
	   width: 20%; 
	   display: none;
	}

	#imgDisconnected{
	  position: relative; 
	  left: 35%; 
	  margin-top: 3%; 
	  display: none;
	}

	#divDesconnectedText{
		margin-top: -20px;
	}

	/*.contenedorEstPorAnio{
		z-index: 100;
	    border: 3px solid #FFE448;
	    border-radius: 3px;
	    width: 49%;
	    height: 227.5px;
	    position: relative;
	    top: 15px;
	    display: inline-block;
	}

	#chartanios{
		display: inline-block !important; 
		width: 375px !important;
    	height: 170px !important;
    	margin-left: 23px !important; 
    	margin-top: -10px !important;
	}

	.contenedorEstPorMes{
		z-index: 100;
	    border: 3px solid #FFE448;
	    border-radius: 3px;
	    width: 49%;
	    height: 227.5px;
	    position: relative;
	    top: 15px;
	    display: inline-block;
	}

	#chartmeses{
		display: inline-block !important; 
		width: 385px !important;
    	height: 170px !important;
    	margin-left: 23px !important; 
    	margin-top: -10px !important;
	}

	.contenedorEstPorHora{
		z-index: 100;
	    border: 3px solid #FFE448;
	    border-radius: 3px;
	    width: 100%;
	    height: 311px;
	    position: relative;
	    margin-top: 22px;
	}

	.contenedorEstPorHora .chart-container{		
	    height: 270px;
	}

	#charthora{
		margin-top: -10px !important;
		height: 251px !important;
    	width: 750px !important;
    	margin: 0 auto;
	}*/
}